<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../src/output.css" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

  <title>Luma | My Games</title>
</head>
<body class="text-white bg-[#1A1F2C] ">
  <!--Sidebar section-->
<div data-component="sidebar"></div>
 <!--Navigation bar section-->
 <header class="relative bg-white"></header>
<!--Main container-->
<main class="px-40 flex flex-col text-white bg-[#1A1F2C] min-h-screen ">

    <h1 class="p-4 font-nunito font-extrabold text-5xl text-pink-500">Games</h1>
    <div class="my-games-container grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4 p-4">
        <div class="h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/duel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/marvel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/stella.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
                <img src="/src/asset/images/duel.png" alt="game-thumbnail" class="w-full h-full object-cover"> 
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/valley.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
         
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/stella.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/valley.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>         
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/duel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/seti.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/marvel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>

        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/marvel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/seti.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/valley.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
                <img src="/src/asset/images/duel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/stella.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>

        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/stella.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
             
                <img src="/src/asset/images/duel.png" alt="game-thumbnail" class="w-full h-full object-cover">
             
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/seti.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/marvel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
             
                <img src="/src/asset/images/duel.png" alt="game-thumbnail" class="w-full h-full object-cover">
             
        </div>

        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/valley.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/marvel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/stella.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
                <img src="/src/asset/images/duel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/seti.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>

        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/seti.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/stella.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
                <img src="/src/asset/images/duel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/marvel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/valley.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>

        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/valley.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
                <img src="/src/asset/images/duel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/seti.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/stella.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/marvel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>

        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/stella.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
                <img src="/src/asset/images/duel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/valley.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/seti.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/valley.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
            
    </div>

    <h2 class="p-4 font-nunito font-bold text-3xl text-pink-500">Continue learning</h2>
    <div class="continue-section h-[500px] overflow-y-auto">
    <div class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4 p-4">
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/hormony.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/uprising.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
                <img src="/src/asset/images/stella.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/duel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/frost.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>

        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
                <img src="/src/asset/images/duel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/marvel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/seti.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden"><img src="/src/asset/images/uprising.png" alt="game-thumbnail" class="w-full h-full object-cover"></div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/hormony.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>

        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/frost.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden"><img src="/src/asset/images/uprising.png" alt="game-thumbnail" class="w-full h-full object-cover"></div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/hormony.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/seti.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
                <img src="/src/asset/images/duel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>

        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/marvel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
                <img src="/src/asset/images/duel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/valley.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/frost.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/stella.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>

        <div class="  h-40 border-2 rounded-2xl overflow-hidden"><img src="/src/asset/images/uprising.png" alt="game-thumbnail" class="w-full h-full object-cover"></div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/hormony.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/marvel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
                <img src="/src/asset/images/duel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/seti.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>

        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/frost.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/stella.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
                <img src="/src/asset/images/duel.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden">
            <img src="/src/asset/images/valley.png" alt="game-thumbnail" class="w-full h-full object-cover">
        </div>
        <div class="  h-40 border-2 rounded-2xl overflow-hidden"><img src="/src/asset/images/uprising.png" alt="game-thumbnail" class="w-full h-full object-cover"></div>
    </div>
    </div>
   
  </main>
  <!--Footer section-->

  <div data-component="footer"></div>


  <!--script-->
  <script src="../../service/gameService.js" defer></script>
  <script src="../../js/inject.js" defer></script>
  <script src="../../js/main.js" defer></script>
  <script src="../../js/hero-carousel.js" defer></script>



</body>

</html>