<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>The Night Cage Tutorial</title>
  <link href="../../src/output.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet" />
</head>

<body class="bg-gradient-to-br from-[#23293a] to-[#181D2B] text-white min-h-screen font-nunito">
  <div data-component="sidebar"></div>
  <main class="font-nunito flex justify-center items-center min-h-screen py-24">
    <div class="flex flex-col md:flex-row  gap-10">
      <!-- Image -->
      <img
        src="https://cf.geekdo-images.com/txQ7QzbQz89AO5BmVv7OqA__original/img/sj4Qg_VXKyNZFLftFjRv7p4-RKk=/0x0/filters:format(png)/pic5331288.png"
        alt="The Night Cage" class="object-cover flex-shrink-0" style="
            width: 611px;
            height: 611px;
            border-radius: 47px;
            border: 1px solid #000;
            background: url('https://cf.geekdo-images.com/txQ7QzbQz89AO5BmVv7OqA__original/img/sj4Qg_VXKyNZFLftFjRv7p4-RKk=/0x0/filters:format(png)/pic5331288.png')
              lightgray 50% / cover no-repeat;
          " />
      <!-- Text Content -->
      <div class="flex flex-col justify-center items-start max-w-lg w-full space-y-8">
        <h1 class="font-extrabold" style="
              width: 874px;
              height: 87px;
              flex-shrink: 0;
              font-family: 'Nunito Sans', 'Nunito', sans-serif;
              font-size: 64px;
              font-style: normal;
              font-weight: 800;
              line-height: normal;
              background: linear-gradient(
                269deg,
                #f59275 24.95%,
                #f1647a 87.01%
              );
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              color: transparent;
            ">
          The Night Cage Tutorial
        </h1>
        <p style="
              width: 783px;
              height: 141px;
              flex-shrink: 0;
              color: #fff;
              font-family: 'Nunito Sans', 'Nunito', sans-serif;
              font-size: 28px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            ">
          An interactive play-along tutorial to be used as a companion to the
          actual tabletop game. This tutorial allows you to learn the game
          while you play!
        </p>
        <button style="
              display: flex;
              width: 754px;
              height: 104px;
              padding: 24px 242px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              flex-shrink: 0;
              border-radius: 24px;
              background: #2f364a;
              box-shadow: 4px 4px 10px 0px #181d2b, -4px -4px 10px 0px #455374;
              color: #fff;
              font-family: 'Nunito Sans', 'Nunito', sans-serif;
              font-size: 32px;
              font-weight: 700;
              border: none;
              cursor: pointer;
            ">
          <svg xmlns="http://www.w3.org/2000/svg" style="width: 40px; height: 40px; margin-right: 16px"
            fill="currentColor" viewBox="0 0 24 24">
            <path d="M8 5v14l11-7z" />
          </svg>
          Start Tutorial
        </button>
      </div>
    </div>
  </main>
  <div data-component="footer"></div>
</body>
<script src="../../js/inject.js"></script>

</html>