<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luma | Tutorials</title>
    <link href="../../src/output.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  </head>
  <body>
    <!--Sidebar section-->
<div data-component="sidebar"></div>







<!--Footer section-->

<div data-component="footer"></div>


<!--script-->
<script src="../../service/gameService.js" defer></script>
<script src="../../js/inject.js" defer></script>
<script src="../../js/main.js" defer></script>
<script src="../../js/hero-carousel.js" defer></script>

  </body>
</html>
