<section
  class="relative md:rounded-xl overflow-hidden h-[400px] sm:h-[500px] md:h-[600px] lg:h-[700px] xl:h-[750px] 2xl:h-[800px]">
  <!-- Background Image with Overlay -->
  <div class="absolute inset-0 z-0">
    <img src="../../src/asset/images/home-banner.jpg" alt="Hero Background" class="w-full h-full object-cover" />
    <div class="absolute inset-0 bg-gradient-to-l md:bg-gradient-to-r from-black/40 to-black opacity-100"></div>
  </div>

  <!-- Hero Content Grid -->
  <div class="relative z-10 h-full flex items-center px-6 sm:px-10 lg:px-20">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full">
      <!-- Left column (blank for spacing) -->
      <div></div>

      <!-- Right column (content) -->
      <div class="text-gray-200 max-w-xl">
        <h1 class="text-3xl md:text-4xl lg:text-6xl xl:text-7xl font-extrabold mb-8 md:mb-14">
          The Night Cage
        </h1>
        <h2 class="text-xl md:text-3xl font-semibold mb-2 md:mb-5">How long will you last?</h2>
        <p class="text-base md:text-xl text-gray-300/90 mb-3 md:mb-10 leading-relaxed">
          You awake in the dark, your skin cold, your mind blank. You have nothing but your tear,
          a flickering candle, and a question: How long will your light last?
        </p>

        <!-- Icon Badges -->
        <div class="flex items-center gap-5 md:gap-10 flex-wrap text-base text-gray-200">
          <div class="flex items-center gap-2">
            <i class="fas fa-hourglass-half text-gray-300"></i>
            <span>50m</span>
          </div>
          <div class="flex items-center gap-2">
            <i class="fas fa-users text-gray-300"></i>
            <span>1-5</span>
          </div>
          <div class="flex items-center gap-2">
            <i class="fas fa-star text-yellow-500"></i>
            <span>8/10</span>
          </div>
          <div class="p-[1px] rounded-full bg-gradient-to-r from-[#f59275] to-[#f1647a] inline-block">
            <div class="px-2 md:px-5 md:py-1 bg-[#262C3D] rounded-full text-base text-white">
              <span>14+</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>